@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700;800;900&family=Roboto:wght@300;400&display=swap");

:root {
  --bg-orange: #e46643;
  --bg-orange-hover: #f39765;
  --bg-black: #151619;
  --cl-black-lv1: #1d1f22;
  --cl-black-lv2: #2b2d31;
  --cl-black-lv3: #35393f;
  --bg-darkgray: #5a6069;
  --cl-darkgray-lv1: #7c8187;
  --cl-darkgray-lv2: #c1c4cb;
  --cl-darkgray-lv3: #e4e4e4;
  --cl-gray: #e4e4e4;
  --cl-gray-lv2: #F5F5F5;
  --cl-white: #fff;
}
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.preview {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Roboto Slab", serif;
  font-size: 24px;
}
.preview .h1 {
  font-size: 32px;
  font-weight: bold;
}
.preview .h2 {
  font-size: 28px;
  font-weight: lighter;
}
.preview .h3 {
  font-weight: bold;
}
.preview .h4 {
  font-size: 20px;
  font-weight: bold;
}
.preview .h5 {
  font-size: 16px;
  font-weight: bold;
}
.preview .h6 {
  color: var(--bg-orange);
  font-size: 14px;
  font-weight: bold;
}
/* BUTTON GENERAL*/
a.button,
button.button {
  border-radius: 5px;
  border: none;
  text-align: center;
  font-family: "Roboto";
  font-size: 15px;
  text-decoration: none;
  background-color: var(--bg-orange);
  color: white;
  padding: 0.8em 1em;
  cursor: pointer;
  font-weight: lighter;
}
/* || HOVER BUTTON */
a.button:hover,
button.button:hover{
  background-color: var(--bg-orange-hover);
}
/*|| LAYOUT */
#layout {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "sidenav header"
    "sidenav main";
  grid-template-columns: 240px 1fr;
  grid-template-rows: 72px 1fr;
}
.sidenav {
  grid-area: sidenav;
  background-color: var(--cl-black-lv1);
  color: white;
}
.header {
  grid-area: header;
  background-color: var(--cl-black-lv2);
  color: white;
  display: flex;
  height: 72px;
}
.main {
  grid-area: main;
  background-color: var(--cl-darkgray-lv3);
}
/* HEADER */
.header nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
  font-family: "Roboto Slab", sans-serif;
}
nav > div {
  display: flex;
  align-items: center;
  align-content: center;
}
nav div.edit-area {
  box-sizing: border-box;
  margin-right: 30px;
}
div.edit-area .delete--file {
  width: 50px;
  box-sizing: border-box;
  padding: 1em;
  color: var(--cl-darkgray-lv1);
  font-size: 18px;
}
.btn-save-changes button > * {
  margin: 0 5px;
}
/*|| EDIT DOC */
nav div.edit-doc {
  gap: 10px;
}
nav div.edit-doc .document--name {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding-left: 20px;
}
.document--name div > span {
  display: block;
  margin-bottom: 3px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

.document--name div span:first-child {
  color: var(--cl-darkgray-lv2);
  margin-bottom: 7px;
}
.document--name span:first-child {
  font-size: 16px;
}

.document--name div span::first-letter {
  text-transform: uppercase;
}

/* BRAND */
.edit-doc .title {
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1ch;
  font-weight: bold;
  padding: 0.5em 0.5em 0.5em;
  padding-right: 20px;
  font-family: "Roboto";
  border-right: 2px solid var(--cl-darkgray-lv1);
}
/* HAMBURGER MENU */
.edit-doc .menu--hamburger {
  height: 100%;
  width: 72px;
  background: var(--cl-black-lv3);
  font-size: 35px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* ||SIDEBAR */
aside.sidenav {
  box-sizing: border-box;
  padding: 1em 1.2em;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab";
  font-weight: lighter;
  /* justify-content: space-between; */
}
.sidenav .sidenav--title {
  text-transform: uppercase;
  color: var(--cl-darkgray-lv1);
  font-weight: lighter;
  text-align: center;
}
.sidenav .sidenav--body {
  flex-grow: 2;
}
.button.button-new--doc {
  width: 100%;
}
button.button.button-new--doc i {
  font-size: 12px;
}
.sidenav--body .list--documents .documents--file {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-bottom: 1.5em;
  font-family: "Roboto";
}

.sidenav--body .list--documents .documents--file:first-child {
  padding-top: 30px;
}
.documents--file .document-content div:first-child {
  color: var(--cl-darkgray-lv1);
  font-size: 14px;
}
.documents--file .document-content div:last-child {
  font-size: 18px;
}
/* SWITCH ROUNDED */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cl-darkgray-lv1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--cl-black-lv3);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--cl-darkgray-lv1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
.sidenav--footer{
  display:flex;
  justify-content:center;
  align-items:center;
}
.sidenav--footer .mode{
  display: flex;
  align-items: center;
  gap: 10px;
  /* text-align: center; */
}
/* || TEXT EDITOR */
main.main{
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--cl-white);
}
.main section{
  background-color: var(--cl-white);
  width: 100%;
  padding-top: 0;
}
.main section:first-child{
  border-right: 3px solid #E4E4E4;
}
.main section header{
  background-color: #f5f5f5;
  width: 100%;
  height: 50px;
}
.main section header.preview{
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2em;
  color: var(--cl-darkgray-lv1);
}
header h5{
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:15px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Roboto";
  color: var(--cl-darkgray-lv1);
  text-transform: uppercase;
}
.preview .hide-editor{
  margin-right: 15px;
  cursor: pointer;
}
.document textarea{
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 845px;
  border: none;
  outline: none;
  resize: none;
  padding: 1.2em 1.5em 1em 1em;
  /* overflow-x: hidden; */
  overflow-y: auto;
  font-family: "Roboto Mono";
  font-size: 15px;
  line-height: 1.3;
}
/* ||PREVIEW|| */
.document.doc--preview {
  overflow-y: auto;
  height: 95%;
  padding: 1.2em 1.5em 1em;
}
/* ||SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--cl); 
}
 
/* Handle */

/* Handle on hover */
::-webkit-scrollbar-thumb{
  background-color: #e46643;
}
.pre{
  font-family: "Roboto Slab";
  font-size: 16px;
  color: var(--cl-black-lv3);
}
.pre.h1{
  font-size: 32px;
  font-weight: bold;
}
.pre.h2{
  font-size:28px;
  font-weight: lighter;
}
.pre.h3{
  font-size: 24px;
}
.pre.h4{
  font-size: 20px;
  font-weight: bold;
}
.pre.h5{
  font-size: 16px;
  font-weight: bold;
}
.pre.h6{
  font-size: 14px;
  color: var(--bg-orange);
}
.pre.paragraph{
  color: var(--cl-darkgray-lv1);
  line-height: 1.5;
  margin-top: 0;
}
.pre.list-number{
  line-height: 1.5;
  color: var(--cl-darkgray-lv1);

}
.pre.list-number > li {
  margin-bottom: 8px;
}
.list-number > li span{
  margin-left: 8px;
}
.pre.list-point{
  line-height: 1.5;
}
.pre.list-point > li{
  margin-bottom: 8px;
  color: var(--bg-orange);
}
.list-point > li span{
  color: var(--cl-darkgray-lv1);
  margin-left: 8px;
}
.pre.link{
  color: var(--cl-black-lv2);
}
blockquote, .pre.blockquote{
  background-color: var(--cl-gray-lv2);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  padding: 25px 14px;
  margin:0;
  box-sizing: border-box;
  width: 100%;
  border-left: 4px solid var(--bg-orange);
}
figure {
  margin: 0;
}
pre.pre{
  background-color: var(--cl-gray-lv2);
  /* border: 1px solid var(--bg-orange); */
  border-radius: 5px;
  padding: 10px 14px;
  text-align: left;
  box-sizing: border-box;
  margin:0;
  display: flex;
}
.pre code {
  text-align: left;
  font-family: "Roboto Mono";
  width: 100%;
  display: block;
}
.pre code.code-simple {
  display: inline;
  color: var(--cl-black-lv2)
}